<div class="objects-and-actions-container">
  <div class = "objects-container">
    <ul class="objects-details-list" *ngFor="let object of objectData; trackBy: trackById" >
      <div draggable="true" [ngClass]="{'hightlight-row': object?.isRowHighlighted}" (click)="hightlightRow(object)" class="object-cell draggable">
        <li id="list-item" class="list-item">{{object.labelName}}</li>
        <li (click)="removeObject(object)" class="fa fa-trash-o"></li>
        <li id="object-id">{{object.labelId}}</li>
      </div>
    </ul>
  </div>
  <div class="actions-container">
    <div class="icon-action">
      <i (click)="arrangeDescendingly()" class="fa fa-angle-double-up"></i>
    </div>
    <div class="icon-action">
      <i (click)="arrangeOneLevelDesc()" class="fa fa-angle-up" ></i>
    </div>
    <div class="icon-action">
      <i (click)="arrangeOneLevelAsc()" class="fa fa-angle-down"></i>
    </div>
    <div class="icon-action">
      <i (click)="arrangeAscendingly()" class="fa fa-angle-double-down"></i>
    </div>

  </div>
</div>




